

  <h1>Our Products</h1>

  <% @products.each do |product| %>
    <div class="panel panel-default product-panel">
      <div class="panel-body">
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p><%= product.price %></p>
      </div>
    </div>
  <% end %>
