@import "bootstrap-sprockets";
@import "bootstrap";

nav {
  background-color: #0C4D63!important;
  color: white!important;
  padding-right: 2%;
}

.display {
  color: white!important;
}

hr {
  background-color: #0C4D63!important;
  height: 3px;
}

h1 {
  text-align: center;
}

.product-panel {
  background-color: rgba(125, 178, 196, 0.8);
  width: 26%;
  text-align: center;
  float: left;
  border: 2px solid rgba(12, 77, 99, 0.4);
  margin-left: 5%;
  align-items: center;
}
