<div class="container-fluid">
  <div class="panel panel-default blue-panel">
    <div class="panel-body"><h2>Edit This Product</h2>
      <%= render 'form' %></div>
    <hr>
    <p><%= link_to "Back", product_path(@product) %></p>
  </div>

</div>
