<div class="container-fluid">
  <div class="panel panel-default blue-panel">

    <h1>Add new product</h1>

    <%= render 'form' %>

    <%= flash[:alert] %>
    <%= flash[:notice] %>
  </div>
</div>
